<div class="page-header">
 <h1>Viewing friendship</h1>
</div>

<% if @user_friendship.requested? %>
 <h3>Do you really want to be friends with <%= @friend.full_name %>?</h3>
<% end %>

<% if @user_friendship.accepted? %>
 <h3>You are friends with <%= @friend.full_name %></h3>
<% end %>

<% if @user_friendship.requested? %>
 <%= form_for @user_friendship, url: accept_user_friendship_path(@user_friendship), method: :put do |form| %>
  <%= form.hidden_field :friend_id, value: @friend.profile_name %>
  <%= submit_tag "Accept friendship", class: 'btn btn-primary' %>
 <% end %>
<% end %>
<%= form_for @user_friendship, url: user_friendship_path(@user_friendship), method: :delete do |form| %>
  <%= form.hidden_field :friend_id, value: @friend.profile_name %>
  <%= submit_tag "Delete friendship", class: 'btn btn-danger' %>
 <% end %>